@font-face {
    font-family: "Indie Flower";
    font-style: normal;
    font-weight: 400;
    src: local("Indie Flower"),local(IndieFlower),url(//fonts.gstatic.com/s/indieflower/v9/m8JVjfNVeKWVnh3QMuKkFcZVaUuD.eot?#) format("eot"),url(//fonts.gstatic.com/s/indieflower/v9/m8JVjfNVeKWVnh3QMuKkFcZVaUuH.woff2) format("woff2"),url(//fonts.gstatic.com/s/indieflower/v9/m8JVjfNVeKWVnh3QMuKkFcZVaUuB.woff) format("woff");
}

/* 自定义属性简写 */

.aliased {
    background: pink;
    margin-top: 10px;
    padding-top: 10px;
    border: 1px solid red;
}

body{
    background: #ccc;
}

.magician{
    font-family: 'Indie Flower';
}

.circle {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: pink;
}

.triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-width: 75px 0 75px 200px;
    border-left-color: pink;
}

.precss{
        width: calc(4 * 200px)
}

.icon-weibo {
        background: url('img/weibo.png');
    }

.icon-wechat {
        background: url('img/wechat.png');
    }

.icon-qq {
        background: url('img/qq.png');
    }

