/* 自定义属性简写 */
@alias { 
    bg: background;
    mgt: margin-top;
    pdt: padding-top;
    bd: border;
}

.aliased {
    bg: pink;
    mgt: 10px;
    pdt: 10px;
    bd: 1px solid red;
}

/* postcss-font-magician test */
.magician{
    font-family: 'Indie Flower';
}

/* 画圆形 */
.circle {
    circle: 100px pink;
}

/* 画三角形 */
.triangle {
    triangle: pointing-right;
    width: 200px;
    height: 150px;
    background-color: pink;
}

/* precss使用 */
$blue: #056ef0;
$column: 200px;

$a: 5;
$b: 3;

.precss{
    @if $a > $b {
        width: calc(4 * $column);
    } @else {
        width: calc(2 * $column);
    }
}

$list: weibo, wechat, qq;

@each $icon in ($list) {
    .icon-$(icon) {
        background: url('img/$(icon).png');
    }
}

/* cssnext */

:root {
    --width: 300px;
    --height: 200px;
    --bgColor: red;
}

.cssnext {
    width: var(--width);
    height: var(--height);
    background-color: var(--bgColor);
}




